html, body, h1, h3, img, header, a, ul, li, nav, input, span, form,
textarea, button, dl, dt, dd, select, div, p, pre {
    margin: 0;
    padding: 0;
}

body {
    background: #EEE;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
    _zoom: 1;
}

#header-wrapper {
    background: rgb(255, 255, 255);
    height: 140px;

    width: 960px;
    margin: 0px auto;

    /*-moz-box-shadow: 0px 0px 5px 4px #AAA;
    -webkit-box-shadow: 0px 0px 5px 4px #AAA;
    box-shadow: 0px 0px 5px 4px #AAA;  */
}

#header-wallpaper {
    background: rgb(255, 255, 255);
    margin: 0px 10px 10px 10px;
    font-size: 20px;
    min-height: 100px;
    border: 2px solid;
}

header {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    width: 900px;
    margin: 0px auto;
}

h1, img {
    border: none;
}

header a {
    color: white;
}

/* MAIN MENU STYLES */
a {
    text-decoration: none;
}

.main-menu {
    /*background: rgb(0, 193, 255);*/
    list-style-type: none;
}

.main-menu li {
    display: inline-block;
    margin-right: 5px; 
}

.main-menu li a {
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
    color: rgba(183, 183, 183, 0.99);

     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(127, 127, 127, 0.66);
    -moz-box-shadow:    0px 0px 5px 0px rgba(127, 127, 127, 0.66);
    box-shadow:         0px 0px 5px 0px rgba(127, 127, 127, 0.66);
}

.main-menu li a:hover {
    color: #01b2f1 !important;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(1, 178, 241, 0.66);
    -moz-box-shadow:    0px 0px 15px 0px rgba(1, 178, 241, 0.66);
    box-shadow:         0px 0px 15px 0px rgba(1, 178, 241, 0.66);
}

.main-menu .selected a {
    color: #01b2f1 !important;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(1, 178, 241, 0.66);
    -moz-box-shadow:    0px 0px 15px 0px rgba(1, 178, 241, 0.66);
    box-shadow:         0px 0px 15px 0px rgba(1, 178, 241, 0.66);
}

.main-menu a {
    font-size: 14px;
    padding: 10px 10px;
    line-height: 40px;
}

/* BODY STYLES */
body {
    background-color: #2b2b2b;
}

#body_wrapper {
    padding-top: 20px;
    background: rgb(255, 255, 255);
    width: 960px;
    margin: 0px auto;
}

#center_body {
    border: 1px solid;
    min-height: 100px;
}
#footer {
    background: rgb(113, 109, 109);
    color: #EEE;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}